    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" data-xrxremove></script>
    <script defer src="js/core.js"></script>
    <script src="/js/component-dev.js" data-xrxremove></script>
  </body>
</html>