<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" data-xrxremove>
    <title data-xrxremove>Custom Html5 Component</title>
    
    <!-- The viewport directive used by Xerox.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" data-xrxremove />

    <!-- The font inclusion used on Xerox.com. You should not need anything beyond this -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css' data-xrxremove />
    <!-- The Normalizer used by Xerox.com -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel='stylesheet' type='text/css' data-xrxremove />
    <!-- The standard Xerox.com font styling which your component will be subjet to. You will need to override these in your component if you require a change of styling -->
    <link href="https://www.xerox.com/sites/all/themes/xerox/css/partials/xerox_text_styles.css" rel='stylesheet' type='text/css' data-xrxremove />

    <link href="css/core.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="./css/component-dev.css" data-xrxremove>
  </head>