<nav class="xrx-embedded-nav" data-xrxremove>
    <ul>
        <li><a id="node-type-landing" href="javascript:setWidth('node-type-landing');">Landing Page</a></li>
        <li><a id="node-type-topic" href="javascript:setWidth('node-type-topic');">Topic</a></li>
    </ul>
</nav>