{{> base/head }}

<body class="node-type-landing">
    <div class="xrx-container">
        <div class="xrx-wrapper">
            {{> base/menu }}
            {{> partials/component }}
        </div>
    </div>
</body>

{{> base/foot }}